div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.container {
    width: 100%;
}

div.col-3 {
    width: 33.33333%;
    float: left;
    padding: 1%;
}

iframe.standart {
	width: 100%;
	height: 400px;
}

div.code {
    width: 100%;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    white-space: pre-wrap;
}